.sidebar {
	padding: 10px 0px 0px 50px;
	/* justify-content: center; */
	align-items: center;
	height: 100vh;
	width: 15%;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 26px;
	background-color: #d8d7ec;
	overflow: scroll;
}
